body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    background-color: ;
}
header {
    background-color: aquamarine;
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    width: 100px; 
    height: auto; 
    margin-right: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}
.container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}
.description {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}
.video-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
iframe, video {
    width: 80%;
    height: 450px;
}
.audio-container {
    margin-top: 30px;
    text-align: center;
}
footer {
    background-color: aquamarine;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.audio-info {
    margin-top: 10px;
    font-size: 14px;
}