ul{
    display: flex;
    /* background-color: black; */
    gap: 5px;
    width: 300px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

ul li{
    list-style: none;
    background-color: brown;
    padding: 1em;
}

ul li i{
    color: white;
    font-size: 40px;
}
