* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url(a.jpg) no-repeat center center/cover;
    color: white;
    line-height: 1.6;
}

.menu {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    background: rgb(49, 49, 49);
    padding: 10px 20px;
}

.menu .logo {
    margin-right: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    color: orange;
}

.menu .menu-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

.menu .menu-links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

.menu .menu-links li a:hover {
    color: orange;
}

.parrafo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    height: calc(800px)
}


.contenido {
    margin: 50px;
    max-width: 50%; 
    padding: 20px; 
    border-radius: 10px;  
}

.contenido h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.contenido h1 span {
    color: orange;
}

.contenido p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.contenido .boton {
    background: orange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contenido .boton:hover {
    background: orange;
}

.rectangulo {
    margin-right: 150px;
    background: orange;
    color: white;
    padding: 40px 70px;
    padding-right: 170px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 40%;

.rectangulo h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.rectangulo ul {
    list-style: none;
}

.rectangulo ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.rectangulo ul li::before {
    position: absolute;
    left: 0;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

