body{
    font-family: "Libre Baskerville";
    padding: 50px;
    margin: 0px;
}

.parrafo{
    .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.contenido {
    max-width: 50%;
}

.contenido h1 {
    font-size: 2.5em;
    margin: 0;
    color: #333;
}
.p2 {
    font-size: 1.5em;
    color: #555;
    margin: 10px 0;
    font-size: 20px;
}

.p1 {
    font-size: 15px;
    color: #555;
    margin: 10px 0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button{
    background-color: #005bb5;
}

.image-content {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer{
    margin-top: 50px;
    padding: 60px;
    font-size: 50px;
    background-color: grey;
}